<!DOCTYPE html>
<html>
<head>
  <title>My Homepage</title>
</head>
<body>
  <header>
    <h1>Welcome to Tute Review</h1>
  </header>

  <main>
    <h2>About Us</h2>
    <p>Login <a href='/auth/login'>here</a></p>
    <p>Logout <a href='/auth/logout'>here</a></p>
  </main>

</body>
</html>